.header {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-bottom: 1px solid var(--card-border);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 50 px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1px;
}

.headerLinks {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.headerLink {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.headerLink:hover {
    color: var(--highlight-color);
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid var(--highlight-color);
}